#!/usr/bin/env perl
use common::sense;

use YAML::XS 'LoadFile';
use Path::Tiny;

use lib path($0)->parent({{ root.levels }})->child('cgi-lib')->stringify;

# =================
# = PREPROCESSING =
# =================
my $config = LoadFile path($0)->sibling('index.yml')->stringify;

