#!/usr/bin/env perl
use common::sense;

use Path::Tiny;

use lib path($0)->parent({{ root.levels }})->child('cgi-lib')->stringify;
use YAML::Tiny;


# =================
# = PREPROCESSING =
# =================
my $config = YAML::Tiny->read( path($0)->sibling('index.yml')->stringify )->[0];

